<footer id="sticky-footer" class="text-white">
        <div>
                <div class="social">
                        <a href="#"><i id="social-fb" class="fa fa-facebook fa-2x"></i></a>
                        <a href="#"><i id="social-tw" class="fa fa-twitter fa-2x"></i></a>
                        <a href="#"><i id="social-ig" class="fa fa-instagram fa-2x"></i></a>
                        <a href="#"><i id="social-em" class="fa fa-envelope fa-2x"></i></a>
                </div>
                <div class="aviso">
                        <small>Copyright &copy; </small>
                        <small>| <a href=""> Aviso Legal </a></small>
                </div>

        </div>



</footer>