<!-- <div id="velo">
    <div class="login col-md-8 col-lg-6 overflow-hidden">
        <form [formGroup]="login">
            <div class="text-center">
                <i id="img" class="fa fa-user-circle"></i>
            </div>
            <div class="mt-4">
                <h3 class="text-center">INICIA SESIÓN</h3>
            </div>
            <div class="form-group mt-4">
                <div class="">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="form-group mt-4">
                    <div class="">
                        <label>Contrañesa</label>
                        <input type="text" class="form-control" formControlName="password">
                    </div>
                </div>
                <div id="btn" class="mt-4 text-center">
                    <input type="submit" value="Enviar" class="btn btn-outline-success btn-block">
                </div>
                <div id="url" class="text-center mt-4">
                    <a href="#">Olvidaste tu contraseña</a> <br>

                    <a href="#">¿No tienes cuenta? Registrate</a>
                </div>
                <div>

                </div>


            </div>
        </form>
    </div>
</div> -->