
.hero {
    background-image: url('../../assets/cabecera1.jpg');
    /* height: 80vh; */
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    box-sizing: border-box;
}
.hero h1{
     font-family: 'Montserrat', sans-serif;
     color: white;
     text-align: center;
     padding: 4% 0 0 0;
     text-shadow: 2px 2px 5px #000;
     font-size: 400%;
}

.hero h1 span{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}
.lead{
    /* margin: 0 auto; */
    margin: 0 auto;
    width: 300px;
}

.lead .btn{
    width: 100%;
    background-color: #EFBE3D;
    padding: 15px 0;
    border-radius: 20px;
    transition: .5s;
}

.lead .btn:hover{
    background-color: rgb(185, 147, 49);
}