div #card{
    border: 2px solid lightgreen;
    margin-top: 50px;
   }
 h3{
    font-family: 'Montserrat', sans-serif;
     font-size: 230%; 

    }

p .btn{
    background-color: #EFBE3D;
    border-color: rgba(0, 0, 0, 0.404);
}

p .btn:hover{
    background-color: rgb(185, 147, 49);
}

p button:hover #flecha{
    transform: translateX(5px);
    transition: .4s;
}

#card2{
    margin-top: 10px;
}

#icon{
    font-size: 35px;
}

#imagen{
padding: 15px;
margin-top: 20px;
}

.mapa{
    height: 300px;
    max-width: 100% ;
}

.modal-body #perrera{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#buscador{
    margin-bottom: 100px;
}

#btnMapa{
    margin-left: 20px;
}


#btnVolver button{
    
    width: 100%;
    background-color: #EFBE3D;
    padding: 15px 0;
    border-radius: 20px;
    transition: .5s;


}

