<div class="container">
    <h1>ERROR 404</h1>
    <div class="row col-12">

        <div class="col-6">
            <div class="gif">
                <img src="../../assets/jurassic.gif" alt="">
                <audio src="assets/audio.mp3" autoplay loop></audio>
            </div>
        </div>
        <div class="col-6">

            <article>
                <h3 class="font-weight-bold">La página que intentas solicitar no está en el servidor (error 404)</h3>
                <p><a [routerLink]="['/principal']" (click)="scroll()">Puedes ir a la pagina de inicio</a> </p> o <a
                    [routerLink]="['/quienessomos']" (click)="scroll()">contactar con
                    nosotros</a>

            </article>
        </div>
    </div>


</div>